/* For small devices */
@media (max-width:320px) {
    body{
        background-color: black;
    }

    .outerbox{
        width: 100vw;
    }

    .button{
        flex-basis: 20vw;
    }

    .zero{
        flex-basis: 35vw;
    }

    .row1, .row2, .row3, .row4, .row5{
        gap: 3vw;
    }
}



/* For standard mobile phones */
@media (min-width:321px) and (max-width:600px) {
    body{
        background-color: black;
        -webkit-tap-highlight-color:transparent;
    }

    .outerbox{
        width: 100vw;
    }

    .resultField{
        font-size: 5rem;
    }

    .button{
        flex-basis: 20vw;
        font-size: 2rem;
    }

    .zero{
        flex-basis: 45vw;
    }
}

/* Not available on the small tablets */
@media (min-width:601px) and (max-width:768px) {
    .outerbox{
        display: none;
    }

    .notoptimized{
        font-size: 2rem;
        text-align: center;
        display: block;
    }
}

/* Not available on the standard tablets */
@media (min-width:769px) and (max-width:1024px) {
    .outerbox{
        display: none;
    }

    .notoptimized{
        display: block;
        font-size: 2rem;
        text-align: center;
    }
    
}